.container{
    width: 1000px;
    height: 600px;
    background: linear-gradient(200.44deg, rgba(239, 255, 253, 0.7) 0%, rgba(239, 255, 253, 0) 100%);
    backdrop-filter: blur(40px);
    border-radius: 85px;
    padding: 40px 60px;
}